{% extends "base.html" %}
{% block title %}Об авторе{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block main %}
  <div class="main__header">
    <h1 class="main__title">Об авторе</h1>
  </div>
  <div class="custom-center-block">
    <p class="custom-text-block">Собрал Александр Маскалёв</p>
    <p class="custom-text-block">
      <a href="https://github.com/maskalev">Профиль на Гитхабе</a>
    </p>
    {% include 'includes/buttons/mainpage.html' %}
  </div>
{% endblock %}