<div class="card" data-id="{{ recipe.pk }}">
  <a href="{% url 'recipe' recipe.author.username recipe.slug %}" class="link">
    {% load thumbnail %}
    {% thumbnail recipe.image "240x240" as im %}
      <img src="{{ im.url }}" alt="{{ recipe.title }}" class="card__image">
    {% endthumbnail %}
  </a>
  <div class="card__body">
    <a class="card__title link" href="{% url 'recipe' recipe.author.username recipe.slug %}">{{ recipe.title }}</a>
    <ul class="card__items">
      {% for tag in recipe.tags.all %}
        <li class="card__item">
          <span class="badge badge_style_{{ tag.color }}">{{ tag.title }}</span>
        </li>
      {% endfor %}
    </ul>
    <div class="card__items card__items_column">
      <p class="card__text">
        <span class="icon-time"></span>
        {{ recipe.cooking_time }} мин.
      </p>
      <p class="card__text">
        <span class="icon-user"></span>
        <a href="{% url 'authorlist' recipe.author %}" style="color: black; text-decoration: none">
          {{ recipe.author.name }}
        </a>
      </p>
    </div>
  </div>
  {% if user.is_authenticated %}
    <div class="card__footer">
      {% include "recipes/includes/buttons/purchase_button.html" %}
      {% include "recipes/includes/buttons/favorite_button.html" %}
    </div>
  {% endif %}
</div>