<div class="card" data-id="{{ recipe.pk }}">
  <a href="{% url 'recipe' recipe.author.username recipe.slug %}" class="link">
    {% load thumbnail %}
    {% thumbnail recipe.image "240x240" as im %}
      <img src="{{ im.url }}" alt="{{ recipe.title }}" class="card__image">
    {% endthumbnail %}
  </a>
  <div class="card__body">
    <a class="card__title link" href="{% url 'recipe' recipe.author.username recipe.slug %}">{{ recipe.title }}</a>
    <ul class="card__items">
      {% for tag in recipe.tags.all %}
        <li class="card__item">
          <span class="badge badge_style_{{ tag.style }}">{{ tag.title }}</span>
        </li>
      {% endfor %}
    </ul>
    <div class="card__items card__items_column">
      <p class="card__text">
        <span class="icon-time"></span>
        {{ recipe.time }} мин.
      </p>
      <p class="card__text">
        <span class="icon-user"></span>
        <a href="{% url 'authorlist' recipe.author %}" style="color: black">
          {{ recipe.author.get_full_name }}
        </a>
      </p>
    </div>
  </div>
  {% if user.is_authenticated %}
    <div class="card__footer">
      {% load user_filters %}
      {% if recipe|ispurchased:user %}
        <button class="button button_style_light-blue-outline" name="purchases">
          <span class="icon-check button__icon"></span>
          Рецепт добавлен
        </button>
      {% else %}
        <button class="button button_style_light-blue" name="purchases" data-out>
          <span class="icon-plus button__icon"></span>
          Добавить в покупки
        </button>
      {% endif %}
      <button class="button button_style_none" name="favorites"
        {% if recipe|isfavorite:user %}
          >
          <span class="icon-favorite icon-favorite_active"></span>
        {% else %}
          data-out="true">
          <span class="icon-favorite"></span>
        {% endif %}
      </button>
    </div>
  {% endif %}
</div>