{% extends "base.html" %}
{% block title %} Сброс пароля {% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
  <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block main %}
  {% if validlink %}
    <div class="main__header">
      <h1 class="main__title">Сброс пароля</h1>
    </div>
    {% load user_filters %}
    <div class="form-container">
      <form class="form" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="form__group">
            <label class="form__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="form__field-group">
              {{ field|addclass:"form__input" }}
              <span class="form__error">{{ field.errors }}</span>
            </div>
          </div>
        {% endfor %}
        <div class="form__footer">
          <button class="button button_style_blue">Сбросить пароль</button>
        </div>
      </form>
    </div>
  {% else %}
    <div class="main__header">
      <h1 class="main__title">Ошибка</h1>
    </div>
    <div class="custom-center-block">
      <p class="custom-text-block">Ссылка сброса пароля содержит ошибку или устарела.</p>
      <div class="custom-button-block">
        <a href="{% url 'index' %}" class="button button_style_blue">Перейти на главную</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
