{% extends "base.html" %}
{% block title %} Изменить пароль {% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block main %}
  <div class="main__header">
    <h1 class="main__title">Изменить пароль</h1>
  </div>
  {% load user_filters %}
  <div class="form-container">
    <form class="form" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form__group">
          <label class="form__label" for="{{ field.id_for_label }}">
            {{ field.label }}
          </label>
          <div class="form__field-group">
            {{ field|addclass:"form__input" }}
            {% if field.name == 'new_password1' %}
              <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</span>
              <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
              <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</span>
              <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>
            {% endif %}
            <span class="form__error">{{ field.errors }}</span>
          </div>
        </div>
      {% endfor %}


      <div class="form__footer">
        <button class="button button_style_blue">Изменить пароль</button>
      </div>
    </form>
  </div>
{% endblock %}
