<header class="header">
  <nav class="nav">
    <div class="nav__container container">
      <ul class="nav__items list">
        {% load user_filters %}
        {% url "index" as index_url %}
        <li class="nav__item {% if index_url == request.path %}nav__item_active{% endif %}">
          <a href="{{ index_url }}" class="nav__link link">Рецепты</a>
        </li>
        {% if user.is_authenticated %}
          {% url "subscriptions" as subscriptions_url %}
          <li class="nav__item {% if subscriptions_url == request.path %}nav__item_active{% endif %}">
            <a href="{{ subscriptions_url }}" class="nav__link link">Мои подписки</a>
          </li>
          {% url "add_recipe" as add_recipe_url %}
          <li class="nav__item {% if add_recipe_url == request.path %}nav__item_active{% endif %}">
            <a href="{{ add_recipe_url }}" class="nav__link link">Создать рецепт</a>
          </li>
          {% url "favorites" as favorites_url %}
          <li class="nav__item {% if favorites_url == request.path %}nav__item_active{% endif %}">
            <a href="{{ favorites_url }}" class="nav__link link">Избранное</a>
          </li>
          {% url "purchases" as purchases_url %}
          <li class="nav__item {% if purchases_url == request.path %}nav__item_active{% endif %}">
            <a href="{{ purchases_url }}" class="nav__link link">Список покупок</a>
          </li>
        {% endif %}
      </ul>
      <ul class="nav__items list">
        {% if user.is_authenticated %}
          <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
          <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
        {% else %}
          <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
          <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>