{% extends "base.html" %}
{% block description %}
  Автоматическая генерация списка покупок. Всё, что нужно для приготовления любимых блюд.
{% endblock %}
{% block title %}
  Список покупок
{% endblock %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% block main %}
  {% csrf_token %}
  <div class="main__header">
    <h1 class="main__title">
      Список покупок
    </h1>
  </div>
  <div class="card-list card-list_column">
    <ul class="shopping-list">
      {% for purchase in object_list %}
        <li class="shopping-list__item" data-id="{{ purchase.recipe.id }}">
          <div class="recipe recipe_reverse">
            <a class="card__title link" href="{% url 'recipe' purchase.recipe.author.username purchase.recipe.slug %}">
              {% load thumbnail %}
              {% thumbnail purchase.recipe.image "90x90" as im %}
                <img src="{{ im.url }}" alt="{{ purchase.recipe.title }}" class="recipe__image recipe__image_big">
              {% endthumbnail %}
            </a>
            <h3 class="recipe__title">{{ purchase.recipe.title }}</h3>
            <p class="recipe__text">
              <span class="icon-time"></span>
              {{ purchase.recipe.cooking_time }} мин.
            </p>
          </div>
          <a href="#" class="shopping-list__button link">Удалить</a>
        </li>
      {% endfor %}
    </ul>
    {% load recipe_filters %}
    {% if user|shopcounter > 0 %}
      <a href="{% url 'purchase_list_pdf' %}">
        <button class="button button_style_blue">Скачать список</button>
      </a>
    {% else %}
      <p class="custom-main-text">Список покупок пуст</p>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/components/ShopList.js' %}"></script>
  <script src="{% static 'pages/shopList.js' %}"></script>
{% endblock %}